body {
    font-family: Arial, sans-serif;
    background: url('./images/Sans_titre(1).jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container, .container-parties, .table-container {
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    text-align: center;
}

.container-parties {
    max-width: 300px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.buttons {
    display: inline-block;
    padding: 12px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

    .buttons:hover {
        background: #0056b3;
    }

.table-container {
    float: right;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.navigation {
    text-align: center;
    margin-top: 20px;
    background: #f1efef;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .navigation a {
        text-decoration: none;
        color: #333;
        margin: 0 15px;
    }

#clock {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
